/* .jumbotron  */
/* {  */
  /*  padding-top: 0px;
    padding-bottom:0px; 
    background-image: url( 'http://localhost/travelanche/assets/images/asd.jpg');
 
   color:white;
    background-size: cover;
    height:auto;
    width:auto;
    height:600px;
*/
 /*   margin-bottom: 0px;*/
    /* background-image: url( 'http://localhost/travelanche/assets/images/Bost.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:700px; 
    width :auto;
    color: white;
    text-shadow: white;  */
    /*-moz-text-decoration-color: white;*/
 
/* } */
